<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <title>MyShelf</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="/users" class="brand-logo">
          <img class="logo" src="../public/images/shelfLogo.jpeg">MyShelf</a>
      </div>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2018 Copyright Text
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>