body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  width: 135px;
  height: 205px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 5px;
}

header {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 5px;
}

.logo {
  height: 62px;
}