body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  width: 135px;
  height: 205px;
}

body {
  margin: 0;
}

header {
  position: fixed;
}

footer {
  position: fixed;
}

.logo {
  height: 62px;
}