body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
  margin-top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed
}

a {
  color: #00B7FF;
}

img {
  width: 135px;
  height: 205px;
}

.editButton {
  color: #ffffff;
}

.logo {
  height: 62px;
}
