body {
  font: 18px 'Roboto Condensed', sans-serif;
}

footer {
  margin-top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed
}

.btn {
  background-color: #191970;
}

.btn:hover {
  background-color: #373aef;
}

a {
  color: #00B7FF;
}

img {
  width: 135px;
  height: 205px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.editButton {
  color: #ffffff;
}

.logo {
  height: 62px;
}
