<h1>Create New Catalog</h1>

<form action="/users/{{userId}}/catalogs" method="POST">
  <div>
    <label for="name">Catalog Name</label>
    <input type="text" name="name" placeholder="Catalog Name" />
  </div>
  <button class="btn" type="submit">Save Catalog</button>
</form>