<div class="row">
  {{#each catalog.movies}}
  <div class="col s4 m2">
    <img src={{this.coverImgUrl}} class="moviePoster">
  </div>
  {{/each}}
</div>
<form action="/users/{{{user._id}}/catalogs/{{catalog._id}}?_method=DELETE" method="POST" />
<button class="btn" type="submit">
  <i class="material-icons left">delete_forever</i>Delete This Catalog</button>