<h1>Users</h1>

<ul>
    <div class="row">
        {{#each users}}
        <li  class="col s4">
            <a href="/users/{{_id}}">
                <p>{{username}}</p>
            </a>
            <img src="{{photoUrl}}">
        </li>
        {{/each}}
    </div>
</ul>

<div class="addUser">
    <a href="users/new" class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">add</i>
    </a>

</div>