<h1>Users
    <div class="addUser">
        <a href="users/new" class="btn-floating btn-large waves-effect waves-light red">
            <i class="material-icons">add</i>
        </a>
    </div>
</h1>

<div class="row">
    {{#each users}}
    <div class="col s12 m4">
        <div class="card horizontal">
            <div class="card-image">
                <img src={{photoUrl}}>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h6>{{username}}</h6>
                </div>
                <div class="card-action">
                    <a href="/users/{{_id}}">View User</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>