<h1>Users</h1>

<ul>
    {{#each users}}
    <li>
        <a href="/users/{{_id}}">
            <p>{{username}}</p>
        </a>
        <img src="{{photoUrl}}">
        <p>Favorite Movie Quote: {{favoriteMovieQuote}}</p>
    </li>
    {{/each}}
</ul>