<h3>{{user.username}}</h3>
<img src="{{photoUrl}}">
<p>Favorite Movie Quote: {{user.favoritemoviequote}}</p>
<ul>
    {{#each users.catalog}}
    <li>
        <p>{{catalog.name}}</p>
    </li>
    {{/each}}
</ul>